@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
  padding-top: 100px;
  background-color: #f5f5f5;
}

.custom-header-item {
  @apply p-2;
}

.custom-header-item-after::after {
  content: "";
  display: block;
  border-top: 3px solid #f3f3f3; /* 색상은 원하는 대로 설정 */
}

.custom-progress-bar {
  /* @apply h-[20px] bg-dark-color w-full top-[40px] left-0; */
  @apply absolute top-0 left-0 h-full bg-[#758694];
}
